@import "../../styles/variables";

$navbarMargin: $horizontalMargin + 1rem;
$mobileNavbarMargin: $mobileHorizontalMargin + 1rem;
$transitionDuration: 0.5s;

.topbarContainer {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 0 $navbarMargin;
  width: 100%;
  transition: opacity 1s ease, height $transitionDuration ease,
    background-color 0.5s ease;
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.topbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height $transitionDuration ease;

  .collapsedMenu {
    padding: 1rem;
    position: fixed;
    z-index: 999;
    background-color: #fbf7f0;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: translateY(-100%);

    .menu {
      list-style-type: none;

      .menuLink {
        cursor: pointer;
        text-align: center;
        text-transform: capitalize;
        font-size: 1.2rem;
        padding: 1.5rem;
      }
    }
  }

  .collapsedMenuShown {
    transform: translateY(0%);
    opacity: 1;
  }

  .name {
    cursor: pointer;
    font-size: 2rem;
    transition: color $transitionDuration ease;
  }

  .links {
    position: relative;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3rem;

    .link {
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 500;
      transition: color $transitionDuration ease;
    }

    .externalLinks {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .indicator {
      position: absolute;
      top: calc(100% - 5px);
      left: 0;
      width: 45px;
      height: 3px;
    }
  }
}

@media (max-width: 700px) {
  .topbarContainer {
    padding: 0 $mobileNavbarMargin;
  }
}
