.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;

  .projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
  }
}
@media (max-width: 600px) {
  .projects {
    .projectGrid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
