@import "../styles/variables";

.main {
  min-height: 100vh;
  padding: 0 $horizontalMargin;
  color: #000000;

  .content {
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0;
    transform: translateX(-100px);
  }

  .fadeInLeft {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 700px) {
  .main {
    padding: 0 $mobileHorizontalMargin;
  }
}
